*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

.background{
    background-color: rgb(75, 79, 93) ;
    background-size: contain;

}

.first_header{
    font-family:'Courier New', Courier, monospace;
    padding-top: 10px;
    font-size: 1.5rem;
    color: azure;
    text-align: center;
}


a{
    text-decoration: none;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.small-Menu li{
    display: block;
    padding: 5px;
    font-size: 1rem;

}
.large-Menu{
    display: none;
    list-style: none;
    gap: 5px;
    font-size: 2rem;
    align-items: center;
}

.Jasso_show{
    height: 150px;
    width: 150px;
    border: 2px solid;
    border-radius: 10%;
    margin-left: 20px;

}
.Pictures{
    display: flex;
    flex-direction: row;
    gap:1px;
    justify-content: space-around;
    padding-top: 45px;
     padding-right: 5px;
}


.Pinkshoe{
    height: 95px;
    width: 85px;
    border-radius: 10%;
}
.pinkshoe_content{
    color: azure;
    padding-left: 10px;
    font-size: 8px;
}

.brown_watch{
    height: 95px;
    width: 85px;
    border-radius: 10%;
}

.BW_content{
    color: rgb(222, 220, 220);
    padding-left: 10px;
    font-size: 8px;
}

.LB_shoe{
    height: 95px;
    width: 85px;
    border-radius: 10%;
}

.LB_content{
    color:rgb(230, 233, 232);
    padding-left: 10px;
    font-size: 8px;
}
.main_div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;

}

.Fashion{
    font-size: 1rem;
    margin-left: 20px;
    color: azure;
    padding-left: 20px;
    padding-top:5px;

}

.right_content{
    padding-left: 10px;
    padding-top: 10px;
}
.first{
    font-size: 0.9rem;
    font-weight: 3px;
    font-family:Georgia, 'Times New Roman', Times, serif;

}
.second{
    font-size: 0.9rem;
    font-weight: 3px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: azure;
    

}
 .Logo{
    color: azure;

 }
    
.third{
    font-size: 0.9rem;
    font-weight: 3px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.fourth{

    font-size: 0.9rem;
    font-weight: 3px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: azure;
}

#collection{
    display: flex;
        justify-content:space-between;
        flex-direction:row;
        height: 100px;
        width: 150px;
        margin-top: 50px;
        margin-right:50px;
        margin-left: 20px;
        border: 2px solid;
        border-radius: 10%;
        border-color: rgb(26, 27, 27);
        padding-left: 40px;
}
.collection_RC{
 display: flex;
 justify-content: space-between;
 flex-direction: row;

}

.right_content{
    padding-left: 10px;
    padding-top: 50px;

}
.grid_container{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color:rgb(187, 161, 161);
    background-size: 20px;
    padding: 20px;
    margin-top: 100px;
    justify-content: space-evenly;
}

.silver_watch{
    border-radius: 5%;
    border: 2px solid;
    border-color: rgb(20, 20, 20);
    height: 40px;
    width: 40px;
}

.Red_shoe{
    border-radius: 5%;
    border: 2px solid;
    border-color: rgb(214, 215, 221);
    height: 40px;
    width: 40px;
}

.Red_bag{
    border-radius: 5%;
    border: 2px solid;
    border-color: rgb(29, 28, 29);
    height: 40px;
    width: 40px;
}

.show_oncarton{
    border-radius: 5%;
    border: 2px solid;
    border-color: rgb(224, 222, 223);
    height: 40px;
    width: 40px;
}

.last_bag{
    border-radius: 5%;
    border: 2px solid;
    border-color: rgb(34, 33, 34);
    height: 40px;
    width: 40px;  
}

.footer_bags{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 50px;
}

.grid_item1{
    background-color: rgb(235, 238, 238);
    border: 2px solid;
    font-size: larger;
    width: 50px;
    height: 50px;
    background-image: url(./Images/pat-taylor.jpg);
    background-repeat: no-repeat;;
    background-size:cover;
    border-radius: 10px;
}

.grid1_content{
    margin-top: 400px;
    position: absolute;
    margin-left: 30px;
    color: azure;
    font-size: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.grid_item2{
    background-color: rgb(218, 224, 224);
    border: 2px solid;
    font-size: larger;
    width: 50px;
    height: 50px;
    background-image: url(./Images/ryan-plomp.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 10px;

}

.discover_link{
    display: none;
    margin-top: 524px;
    position: absolute;
    margin-left: 60px;
}

.grid_item3{
    display: none;
    background-color: rgb(218, 224, 224);
    border: 2px solid;
    font-size: 20px;
    width:50px;
    height:50px;
    background-image: url(./Images/chris-henry-tV8yaU09t7w-unsplash.jpg);
    background-repeat:repeat;
    background-size:contain;
    border-radius: 10px;
}

.grid3_content{
    display: none;
    margin-top: 400px;
    position: absolute;
    margin-left: 30px;
    color: azure;
    font-size: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#brown_shoe{
    position:relative;
    margin-bottom: 5px;
    padding-bottom: 5px;
    height:40px;
     width:40px;
}



/* ---------------------------------------------desktop------------------------------------------------------ */

@media screen and (min-width:769px) {
    .background{
        background-color:grey;
    }
.first_header{
    font-family:'Courier New', Courier, monospace;
    padding-top: 10px;
    font-size: 3rem;
    color: azure;
    text-align: center;
}

.Jasso_show{
    height: 600px;
    width: 800px;
    border: 2px solid;
    border-radius: 10%;
    margin-left: 20px;
    margin-top: 50px;

}

.Fashion{
    font-size: 9rem;
    margin-left: 50px;
    color: azure;
}

.first{
    font-size: 3rem;
    font-weight: 3px;
    font-family:Georgia, 'Times New Roman', Times, serif;

}
.second{
    font-size: 2.5rem;
    font-weight: 3px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: azure;
    

}
    
.third{
    font-size: 3rem;
    font-weight: 3px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.fourth{

    font-size: 2.5rem;
    font-weight: 3px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: azure;
}

.main_div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;

}

.right_content{
    padding-left: 40px;
    padding-top: 150px;

}
 .Logo{
    color: azure;

 }

.nav{
    border: 2px solid;
    box-shadow: 2px 2px 2px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding:5px;


}

.small-Menu{
    border: 2px solid;
    display:flex;
    height: 300px;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0px;
    width: 153px;
    background-color:rgb(209, 211, 211);
    z-index: 100;
    backdrop-filter: blur(20px);
    gap: 30%;
    align-items: center;
    padding: 2rem;
    font-weight: bold;
    font-size: 5rem;
    transition: all 2s;
    font-style:italic ;
    left: -100%;
    color: rgb(13, 14, 14);
}

.show{
    left:0;
}
    .DrawDownMenu{
        display: flex;
        flex-direction:column;
        width: 20px;
        cursor: pointer;
        gap: 2px;
    }
    .DrawDownMenu span{
        width: 100%;
        border-radius: 12px;
        height:6px;
        background:rgb(226, 243, 243);    
    }

    .large-Menu{
        display: none;
        list-style: none;
        gap: 5px;
        font-size: 2rem;
        align-items: center;
    }
    .small-Menu li:hover{
        background:rgb(141, 146, 145);
        font-size: 1.2rem;
    } 

    .Pictures{
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: space-evenly;
        padding-top: 20px;
    }

    .Pinkshoe{
        height: 200px;
        width: 200px;
        border-radius: 10%;
    }
    .pinkshoe_content{
        color: azure;
        padding-left: 20px;
        font-size: 1rem;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .brown_watch{
        height: 200px;
        width: 200px;
        border-radius: 10%;
    }

    .BW_content{
        color: rgb(223, 45, 45);
        padding-left: 20px;
        font-size: 1rem;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .LB_shoe{
        height: 200px;
        width: 200px;
        border-radius: 10%;
    }

    .LB_content{
        color:aquamarine;
        padding-left: 20px;
        font-size: 1rem;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    #Shoe{
        height: 300px;
        width: 300px;
    }
    #Store{
        height: 300px;
        width: 300px;
    }
    #Watch{
        height: 300px;
        width: 300px; 
    }

#collection{
    display: flex;
        justify-content:space-between;
        flex-direction:row;
        height: 500px;
        width: 500px;
        margin-top: 50px;
        margin-right:50px;
        margin-left: 50px;
        border: 2px solid;
        border-radius: 10%;
        border-color: rgb(26, 27, 27);
        padding-left: 50px;
}
.collection_RC{
 display: flex;
 justify-content: space-between;
 flex-direction: row;

}

.silver_watch{
    border-radius: 5%;
    border: 2px solid;
    border-color: rgb(20, 20, 20);
    height: 150px;
    width: 150px;
}

.Red_shoe{
    border-radius: 5%;
    border: 2px solid;
    border-color: rgb(214, 215, 221);
    height: 150px;
    width: 150px;
}

.Red_bag{
    border-radius: 5%;
    border: 2px solid;
    border-color: rgb(29, 28, 29);
    height: 150px;
    width: 150px;
}

.show_oncarton{
    border-radius: 5%;
    border: 2px solid;
    border-color: rgb(224, 222, 223);
    height: 150px;
    width: 150px;
}

.last_bag{
    border-radius: 5%;
    border: 2px solid;
    border-color: rgb(34, 33, 34);
    height: 150px;
    width: 150px;  
}

.footer_bags{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 50px;
}
.buy_button{
    border: 2px solid;
    border-width: 4px;
    border-color:rgb(24, 23, 23);
    font: bolder;
    font-weight: 100;
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 100px;
}

.grid_container{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color:rgb(83, 95, 100);
    padding: 20px;
    margin-top: 100px;
    justify-content: space-evenly;
}

.grid_item1{
    border: 2px solid;
    font-size: larger;
    width: 300px;
    height: 400px;
    background-image: url(./Images/Man\ on\ suit.jpeg);
    background-repeat: no-repeat;;
    background-size:cover;
    border-radius: 10px;
}
.grid_item2{
    border: 2px solid;
    border-color: azure;
    font-size: larger;
    width: 300px;
    height: 550px;
    background-image: url(./Images/pexels-maryia\ 2\ \(2\).jpg);
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 10px;

}

.discover_link{
    display: block;
}
.grid_item3{
    display: block;
    border: 2px solid;
    font-size: 30px;
    width: 300px;
    height: 400px;
    background-image: url(./Images/pexels-maryia\ 2.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    border-radius: 10px;

}

.grid3_content{
    display:block;
    margin-top: 400px;
    position: absolute;
    margin-left: 30px;
    color: azure;
    font-size: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


#brown_shoe{
    position:relative;
    margin-bottom: 200px;
    padding-bottom: 60pxpx;
    height:400px;
     width:300px;
}

.maindiv{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-top: 30px;
}

.email{
    border: 2px solid;
    border-color: rgb(29, 28, 28);
    height: 30px;
    width: 200px;
}

.stay_connected{
    color: azure;
    font-size: medium;
}

.sign-up{
    background-color: rgb(209, 41, 11);
    border: 2px solid;
    color: aliceblue;
    width: 60px;
    height: 30px;
}

.Twiter{
    height: 45px;
    width: 45px;
}
.link_in{
    height: 45px;
    width: 45px;
}
.Instagram{
    height: 46px;
    width: 49px;
}
.Faccbook{
    height: 45px;
    width: 45px;
}

}


    
    @media screen and (min-width:1200px) {
        
    }

    
